@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: UhBeeSe_hyun;
  
}

input::placeholder {
  font-family: 'UhBeeSe_hyun';
  color: #000;
}

textarea::placeholder {
  font-family: 'UhBeeSe_hyun';
  color: #000;
}
input {
  font-family: 'UhBeeSe_hyun';
  color: #000;
}

input::-webkit-input-placeholder { /* Chrome/Safari/Opera */
  font-family: 'UhBeeSe_hyun';
  color: #000;
}
input::-moz-placeholder { /* Firefox */
  font-family: 'UhBeeSe_hyun';
}
input:-ms-input-placeholder { /* IE/Edge */
  font-family: 'UhBeeSe_hyun';
}
